.ui-autosuggest {
  position: absolute;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  bottom: 100%;
  z-index: 10;
  border: 1px solid rgba(216, 216, 216, 1);
  max-width: 1200px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      padding: 5px 10px;
      cursor: pointer;
      display: flex;

      &.active {
        background: rgba(68, 157, 222, 1);
        color: rgba(255, 255, 255, 1);
      }

      span.addText {
        margin-left: 5px;
        color: rgba(200, 200, 200, 1);
      }

      span.description {
        margin-left: auto;
      }
    }
  }

  header {
    padding: 5px 10px;
    background: rgba(222, 222, 222, 1);
    color: rgb(134, 134, 134);
    display: flex;

    span.right {
      margin-left: auto;

      span {
        font-weight: bold;
        font-family: Arial, Tahoma;
      }
    }
  }
}